* {
    box-sizing: border-box;
    color: #FFFFFF;
}
.container {
    width: 1360px;
    margin: 0 auto;
    position: relative;
}
.wrapperMain {
    padding: 34px 50px 88px 50px;
}
.wrapperFooter {
    padding-top: 30px;
}
header {
    height: 112px;
    background-color: #1A1739;
    border-bottom: 2px solid #D9D9D9;
}
h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 37.65px;
    display: inline-block;
}
h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 39.99px;

}
main {
    background-color: #1A1739;
}
p, ul {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.99px;
    letter-spacing: 0.02em;
    list-style: none;
    padding: 0%;
}
footer {
    height: 170px; 
    background-color: #0c0a1b;
    font-size: 20px;

}
.item {
    vertical-align: top;
    display: inline-block;
    width: 408px;
}
.indent {
    padding-left: 14px;
    margin-left: 14px;
    margin-right: 14px;

}
.line {
    height: 2px;
    background-color: #D9D9D9;
}
.itemtwo {
    vertical-align: top;
    display: inline-block;
    width: 189px;
    margin-left: 60px;
    margin-right: 60px;
}
.itemtwo > p {
    font-size: 20px;
}
.upperRightMenu {
    display: inline-block;
    position: absolute;
    right: 0;
}
.Main {
    display: inline-block;
    font-size: 18px;
    text-underline-position: from-font;

}